#maintitle {
    font-family: "copperplate", fantasy;
    text-align: center;
}

h2 {
    font-family: "Lucida Console", monospace;
    background-color: seashell
}

p, ul, ol{
    font-family: "Monaco", monospace;
}